$desktop:1200px;
$laptop:992px;
$tablet:768px;
$phone:480px;
.song-container {
    min-height: 60vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img{
        width: 20%;
        border-radius: 50%;
    }
    h2{
        padding: 3rem 1rem 1rem 1rem;
    }
  h3{
      font-size: 1rem;
  }
  }

  @media screen and (max-width:$desktop) and (min-width:$tablet){
      .song-container{
          img{
              width: 60%;
          }
      }
  }
  